@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #292929;
    color: white;
}

.border-gradient {
    border: solid 2px transparent;
    border-radius: 7px;
    background-image: linear-gradient(#171717, #171717),
      linear-gradient(260.05deg, #35DF91 0%, #006235 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    padding: 4px;
    width: 100px;
  }